fastapi
uvicorn
pydantic
requests
openai
python-dotenv
langchain
langchain-core
langchain-community
langchain-text-splitters
faiss-cpu
tqdm
python-docx
pypdf
openpyxl
python-pptx
Pillow
huggingface-hub
duckduckgo-search
docx2txt
sentence-transformers
ddgs
rank-bm25
jieba
mcp[cli]